.Releases { 
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr ; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 10px;
  grid-row-gap: 10px; 

}

.bandName{
  text-align: center;
  border: 1px dotted black;
}